In [227]:
import json
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy
import statistics
from collections import defaultdict as dd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

In [2]:
#file = open("train.json")
#data = json.load(file)

In [3]:
#len(data)
#years = []

In [4]:
#for item in data:
#    years.append(item['year'])

In [5]:
#list(set(years))

In [6]:
#!pip3 install torch
#import torch
# Create matrices with entries drawn from the standard normal, and multiply them
#x_pt = torch.randn(size=[4,4])
#y_pt = torch.randn(size=[4,8])
#z_pt = torch.matmul(x_pt, y_pt)
#z_pt

In [7]:
#data[0]

In [82]:
#Read into a dataframe.
data_f = pd.read_json("train.json")
data_f["author"] = data_f["authors"]
#pd.json_normalize(data, record_path = ['authors'])

In [83]:
data_expand = data_f.explode("author")
data_expand
data_prolific = data_expand[data_expand["author"] < 100]

In [10]:
#expand = pd.DataFrame({"author":data.apply(lambda x: pd.Series(data['authors']),axis=1).stack().reset_index(level=1, drop=True),})
#init_lst = []
#for item in data:
#    for author in item['authors']:
#        init_lst.append()
#data_prolific = data_expand[data_expand['author'] < 100]
#data_prolific

In [11]:
#The other data can be summarised
#data_author = data_prolific.groupby(['author', 'year']).size()
#data_author
#data_unique = pd.unique(data_author['year'])
#data_author.to_csv('year_authors.csv')

In [12]:
#data_author[['author', 'year']].apply(pd.value_counts)#pd.dataFrame(data_author)

In [13]:
#plt.hist(years)

In [14]:
#Iterate through and list the authors and years
#authors = []
#years = []
#for item in data:
#    item_authors = item['authors']
#    item_year = item['year']
#    for author in item_authors:
#        #print(author)
#        if int(author) < 100:
#            #print(author)
#            authors.append(author)
#            years.append(item_year)

#Subsequently combine and plot.
#print(author)
#plt.bar(authors, years)

In [15]:
#data[0]

In [16]:
#Apply sedata[0] 
#print(len(data[0]['abstract']))
#len(set(data[0]['abstract']))

In [17]:
#87/57

In [18]:
#Apply sedata[0] 
#print(len(data[0]['title']))
#len(set(data[0]['title']))

In [19]:
#print(min(list(data_prolific['abstract'].str.len())))
#print(max(list(data_prolific['abstract'].str.len())))

In [84]:
#Ignore feature selection for now and just use statistics.

#def calculate_statistics_abstract(lst, k=0):
    #See if k is non-zero. If so we run feature selection.
#    frequencies = dd(int)
#    if k > 0:
        #Select the k most repeated numbers.
        #If this is less than k sort the remaining.
#        for item in lst:
#            dd[str(item)] += 1
        #Then sort the list.
        
def mode_lst(lst):
    values, counts = np.unique(lst, return_counts=True)
    print(values)
    print(counts)
    med = counts.argmax()
    return values[med]

In [85]:
mode_lst([1, 2, 3, 4, 4, 5, 5, 5, 6, 7, 7, 7])

[1 2 3 4 5 6 7]
[1 1 1 2 3 1 3]

5

In [86]:
data_expand

,authors,year,abstract,venue,title,author
0,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",42
0,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",13720
0,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",36
1,"[1359, 15881, 45]",15,"[40, 1542, 1691, 2449, 1535, 3616, 2206, 1904,...",2,"[1731, 47, 11, 57, 4624, 1525, 1535, 47, 11, 3...",1359
1,"[1359, 15881, 45]",15,"[40, 1542, 1691, 2449, 1535, 3616, 2206, 1904,...",2,"[1731, 47, 11, 57, 4624, 1525, 1535, 47, 11, 3...",15881
...,...,...,...,...,...,...
25792,"[281, 2963, 9046, 3318, 4575, 2246, 395]",14,"[1555, 1544, 3429, 1866, 4012, 33, 3080, 4172,...",9,"[56, 48, 1588, 2374, 47, 1695, 1609, 1641, 157...",9046
25792,"[281, 2963, 9046, 3318, 4575, 2246, 395]",14,"[1555, 1544, 3429, 1866, 4012, 33, 3080, 4172,...",9,"[56, 48, 1588, 2374, 47, 1695, 1609, 1641, 157...",3318
25792,"[281, 2963, 9046, 3318, 4575, 2246, 395]",14,"[1555, 1544, 3429, 1866, 4012, 33, 3080, 4172,...",9,"[56, 48, 1588, 2374, 47, 1695, 1609, 1641, 157...",4575
25792,"[281, 2963, 9046, 3318, 4575, 2246, 395]",14,"[1555, 1544, 3429, 1866, 4012, 33, 3080, 4172,...",9,"[56, 48, 1588, 2374, 47, 1695, 1609, 1641, 157...",2246
25792,"[281, 2963, 9046, 3318, 4575, 2246, 395]",14,"[1555, 1544, 3429, 1866, 4012, 33, 3080, 4172,...",9,"[56, 48, 1588, 2374, 47, 1695, 1609, 1641, 157...",395

In [87]:
for i in range(1, 5001):
    data_prolific[str(i)] = 0

/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/961744094.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_prolific[str(i)] = 0
/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/961744094.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data_prolific[str(i)] = 0

In [88]:
print(len(data_prolific))
data_prolific.reset_index(inplace=True)
#data_expand = data_expand.drop(columns="index")
del data_prolific["index"]
data_prolific.head()

8938

/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/697366104.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data_prolific.reset_index(inplace=True)

,authors,year,abstract,venue,title,author,1,2,3,4,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",42,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",36,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"[1359, 15881, 45]",15,"[40, 1542, 1691, 2449, 1535, 3616, 2206, 1904,...",2,"[1731, 47, 11, 57, 4624, 1525, 1535, 47, 11, 3...",45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,[97],10,"[46, 1624, 1547, 56, 1687, 1644, 6, 7, 3386, 1...",4,"[40, 1733, 1735, 1540, 1655, 46, 1624, 1547, 5...",97,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"[19617, 2]",10,"[37, 3709, 3836, 1586, 2151, 1727, 3021, 1860,...",9,"[38, 1592, 2088, 1543, 1574, 1727, 1597, 1813,...",2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
#Add columns df.loc[:, 'new'] = 'y'
data_prolific.loc[:,"word_len"] = 0
data_prolific.loc[:,"word_mean"] = 0
data_prolific.loc[:,"word_median"] = 0
data_prolific.loc[:,"word_spread"] = 0

/Users/david/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1667: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = value
/Users/david/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [90]:
data_prolific
#data_prolific = data_expand[data_expand["author"] < 100]

,authors,year,abstract,venue,title,author,1,2,3,4,...,4995,4996,4997,4998,4999,5000,word_len,word_mean,word_median,word_spread
0,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",42,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",36,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"[1359, 15881, 45]",15,"[40, 1542, 1691, 2449, 1535, 3616, 2206, 1904,...",2,"[1731, 47, 11, 57, 4624, 1525, 1535, 47, 11, 3...",45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,[97],10,"[46, 1624, 1547, 56, 1687, 1644, 6, 7, 3386, 1...",4,"[40, 1733, 1735, 1540, 1655, 46, 1624, 1547, 5...",97,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"[19617, 2]",10,"[37, 3709, 3836, 1586, 2151, 1727, 3021, 1860,...",9,"[38, 1592, 2088, 1543, 1574, 1727, 1597, 1813,...",2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8933,"[19974, 68, 8903]",1,"[40, 1542, 1691, 2449, 1535, 2855, 1549, 1755,...",23,"[1708, 33, 58, 57, 2174, 1548, 1538, 1553, 359...",68,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8934,"[6353, 67, 3037, 15856, 13521]",10,"[40, 1542, 1691, 2907, 1540, 1535, 2121, 2431,...",10,"[53, 2555, 4480, 1535, 1637, 1898, 1549, 53, 3...",67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8935,"[7686, 3810, 87, 7451]",16,"[2144, 1661, 2151, 1966, 3776, 4864, 1546, 219...",31,"[1615, 1966, 11, 3238, 1653, 3318, 24, 2144, 1...",87,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8936,"[14864, 92]",16,"[37, 1662, 33, 1814, 2036, 1692, 1553, 2333, 2...",0,"[46, 1670, 1826, 37, 1632, 46, 1991, 1525, 152...",92,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8937,"[1797, 78]",14,"[46, 1605, 1681, 10, 1557, 4741, 1535, 2021, 1...",1,"[46, 1910, 36, 2107, 1547, 1553, 1716, 1528, 5...",78,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
for i in range(len(data_prolific)):
    #Obtain the abstract and title.
    #print(i)
    #print(data_prolific.loc[i,"abstract"])
    #print(data_prolific.loc[i,"abstract"] + data_prolific.loc[i,"title"])
    lst_combine = data_prolific.loc[i,"abstract"] + data_prolific.loc[i,"title"]
    data_prolific.loc[i,"word_len"] = len(lst_combine)
    data_prolific.loc[i,"word_mean"] = np.mean(lst_combine)
    data_prolific.loc[i,"word_median"] = statistics.median(lst_combine)
    data_prolific.loc[i,"word_spread"] = statistics.stdev(lst_combine)
    for j in list(set(lst_combine)):
        #print(data_expand.loc[,j])
        data_prolific.loc[i,str(j)] += 1

/Users/david/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [92]:
data_prolific.head()

,authors,year,abstract,venue,title,author,1,2,3,4,...,4995,4996,4997,4998,4999,5000,word_len,word_mean,word_median,word_spread
0,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",42,0,0,0,0,...,0,0,0,0,0,0,103,2001.669903,1670.0,1077.536045
1,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",36,0,0,0,0,...,0,0,0,0,0,0,103,2001.669903,1670.0,1077.536045
2,"[1359, 15881, 45]",15,"[40, 1542, 1691, 2449, 1535, 3616, 2206, 1904,...",2,"[1731, 47, 11, 57, 4624, 1525, 1535, 47, 11, 3...",45,0,0,0,1,...,0,0,0,0,0,0,123,1668.723577,1558.0,1287.046704
3,[97],10,"[46, 1624, 1547, 56, 1687, 1644, 6, 7, 3386, 1...",4,"[40, 1733, 1735, 1540, 1655, 46, 1624, 1547, 5...",97,0,0,0,0,...,0,0,0,0,0,0,119,1902.336134,1687.0,1346.292381
4,"[19617, 2]",10,"[37, 3709, 3836, 1586, 2151, 1727, 3021, 1860,...",9,"[38, 1592, 2088, 1543, 1574, 1727, 1597, 1813,...",2,0,0,0,0,...,0,0,0,0,0,0,148,1865.722973,1725.5,1059.454723

In [93]:
data_prolific['author_no'] = data_prolific['authors'].str.len()

/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/3308397039.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data_prolific['author_no'] = data_prolific['authors'].str.len()
/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/3308397039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_prolific['author_no'] = data_prolific['authors'].str.len()

In [94]:
data_prolific

,authors,year,abstract,venue,title,author,1,2,3,4,...,4996,4997,4998,4999,5000,word_len,word_mean,word_median,word_spread,author_no
0,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",42,0,0,0,0,...,0,0,0,0,0,103,2001.669903,1670.0,1077.536045,3
1,"[42, 13720, 36]",9,"[2455, 1858, 2335, 1543, 1800, 1860, 2000, 286...",20,"[41, 1550, 1563, 1594, 1544, 1919, 1644, 37, 1...",36,0,0,0,0,...,0,0,0,0,0,103,2001.669903,1670.0,1077.536045,3
2,"[1359, 15881, 45]",15,"[40, 1542, 1691, 2449, 1535, 3616, 2206, 1904,...",2,"[1731, 47, 11, 57, 4624, 1525, 1535, 47, 11, 3...",45,0,0,0,1,...,0,0,0,0,0,123,1668.723577,1558.0,1287.046704,3
3,[97],10,"[46, 1624, 1547, 56, 1687, 1644, 6, 7, 3386, 1...",4,"[40, 1733, 1735, 1540, 1655, 46, 1624, 1547, 5...",97,0,0,0,0,...,0,0,0,0,0,119,1902.336134,1687.0,1346.292381,1
4,"[19617, 2]",10,"[37, 3709, 3836, 1586, 2151, 1727, 3021, 1860,...",9,"[38, 1592, 2088, 1543, 1574, 1727, 1597, 1813,...",2,0,0,0,0,...,0,0,0,0,0,148,1865.722973,1725.5,1059.454723,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8933,"[19974, 68, 8903]",1,"[40, 1542, 1691, 2449, 1535, 2855, 1549, 1755,...",23,"[1708, 33, 58, 57, 2174, 1548, 1538, 1553, 359...",68,0,0,0,0,...,0,0,0,0,0,105,1645.561905,1549.0,1150.054772,3
8934,"[6353, 67, 3037, 15856, 13521]",10,"[40, 1542, 1691, 2907, 1540, 1535, 2121, 2431,...",10,"[53, 2555, 4480, 1535, 1637, 1898, 1549, 53, 3...",67,0,0,0,0,...,0,0,0,0,0,173,1813.381503,1691.0,1176.267008,5
8935,"[7686, 3810, 87, 7451]",16,"[2144, 1661, 2151, 1966, 3776, 4864, 1546, 219...",31,"[1615, 1966, 11, 3238, 1653, 3318, 24, 2144, 1...",87,0,0,0,0,...,0,0,0,0,0,191,1896.680628,1839.0,1224.429314,4
8936,"[14864, 92]",16,"[37, 1662, 33, 1814, 2036, 1692, 1553, 2333, 2...",0,"[46, 1670, 1826, 37, 1632, 46, 1991, 1525, 152...",92,0,0,0,0,...,0,0,0,0,0,82,1800.378049,1725.5,1147.966905,2
8937,"[1797, 78]",14,"[46, 1605, 1681, 10, 1557, 4741, 1535, 2021, 1...",1,"[46, 1910, 36, 2107, 1547, 1553, 1716, 1528, 5...",78,0,0,0,0,...,0,0,0,0,0,163,1781.312883,1692.0,1081.893953,2

In [95]:
#data_prolific['mean_abstract'] = data_prolific['authors'].str.len()
data_training = data_prolific.drop(['authors', 'abstract', 'title'], axis=1)

In [106]:
#data_training_data = data_training.drop('author', axis=1)
data_training_target = data_training.loc[:,'author']

In [108]:
#Now train the model.
x_train, x_test, y_train, y_test = train_test_split(data_training, data_training_target, test_size=0.25, random_state=0)

In [144]:
#type()
x_train = x_train.replace('', np.nan, regex=True)
x_test = x_test.replace('', np.nan, regex=True)
x_train = x_train.astype('float')
x_test = x_test.astype('float')
x_train.fillna(0, inplace=True)
x_test.fillna(0, inplace=True)
#x_train
#data_training
y_train = y_train.astype('float')
y_test = y_test.astype('float')
#y_train

In [142]:
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)

/Users/david/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [147]:
#print((x_train.loc[3264,"venue"]))
res1 = logisticRegr.predict(x_test)

In [119]:
x_train.fillna(0, inplace=True)

In [149]:
logisticRegr.score(x_test, y_test)

0.1087248322147651

In [207]:
#Now try this on the test dataset.
read_tst = pd.read_json("test.json")
read_tst["author"] = read_tst["coauthors"]
#
read_tst_expand = read_tst.explode("author")
for i in range(1, 5001):
    read_tst_expand[str(i)] = 0
read_tst_expand.reset_index(inplace=True)
#data_expand = data_expand.drop(columns="index")

del read_tst_expand["index"]
read_tst_expand.loc[:,"word_len"] = 0
read_tst_expand.loc[:,"word_mean"] = 0
read_tst_expand.loc[:,"word_median"] = 0
read_tst_expand.loc[:,"word_spread"] = 0

for i in range(len(read_tst_expand)):
    #Obtain the abstract and title.
    #print(i)
    #print(data_prolific.loc[i,"abstract"])
    #print(data_prolific.loc[i,"abstract"] + data_prolific.loc[i,"title"])
    lst_combine = read_tst_expand.loc[i,"abstract"] + read_tst_expand.loc[i,"title"]
    read_tst_expand.loc[i,"word_len"] = len(lst_combine)
    read_tst_expand.loc[i,"word_mean"] = np.mean(lst_combine)
    read_tst_expand.loc[i,"word_median"] = statistics.median(lst_combine)
    read_tst_expand.loc[i,"word_spread"] = statistics.stdev(lst_combine)
    for j in list(set(lst_combine)):
        #print(data_expand.loc[,j])
        read_tst_expand.loc[i,str(j)] += 1

/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/2926342289.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  read_tst_expand[str(i)] = 0
/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/2926342289.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  read_tst_expand.reset_index(inplace=True)
/Users/david/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1667: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = value

In [210]:
#Test
data_testing = read_tst_expand
data_testing["author_no"] = read_tst_expand['coauthors'].str.len()
print(data_testing.head())
#data_testing_identifier = data_testing.loc[:,'identifier']
data_testing = data_testing.drop(['coauthors', 'abstract', 'title', 'identifier'], axis=1)
data_testing_target = data_testing.loc[:,'author']
print(data_testing.head())

#logisticRegr.score(data_testing, data_testing_target)
data_testing = data_testing.replace('', np.nan, regex=True)
data_testing = data_testing.astype('float')
data_testing = data_testing.astype('float')
data_testing.fillna(0, inplace=True)
data_testing.fillna(0, inplace=True)
#x_train
#data_training
#data_testing_target = y_train.astype('float')
data_testing_target = data_testing_target.astype('float')

/var/folders/5w/f43gl_q13w5g_rnx1cmz4v000000gn/T/ipykernel_31067/3882102482.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data_testing["author_no"] = read_tst_expand['coauthors'].str.len()

   identifier                   coauthors  year  \
0           0  [16336, 1762, 4357, 12564]    19
1           0  [16336, 1762, 4357, 12564]    19
2           0  [16336, 1762, 4357, 12564]    19
3           0  [16336, 1762, 4357, 12564]    19
4           1              [21189, 14088]    19

                                            abstract venue  \
0  [37, 1662, 3207, 10, 33, 2037, 1738, 1642, 155...   223
1  [37, 1662, 3207, 10, 33, 2037, 1738, 1642, 155...   223
2  [37, 1662, 3207, 10, 33, 2037, 1738, 1642, 155...   223
3  [37, 1662, 3207, 10, 33, 2037, 1738, 1642, 155...   223
4  [1731, 2130, 3674, 1705, 1656, 3077, 1546, 367...   223

                                               title author  1  2  3  ...  \
0  [3207, 24, 1798, 1738, 37, 2375, 1568, 11, 53,...  16336  0  0  0  ...
1  [3207, 24, 1798, 1738, 37, 2375, 1568, 11, 53,...   1762  0  0  0  ...
2  [3207, 24, 1798, 1738, 37, 2375, 1568, 11, 53,...   4357  0  0  0  ...
3  [3207, 24, 1798, 1738, 37, 2375, 1568, 11, 53,...  12564  0  0  0  ...
4  [40, 1560, 1536, 1544, 1609, 1705, 1658, 1543,...  21189  0  0  0  ...

   4996  4997  4998  4999  5000  word_len    word_mean  word_median  \
0     0     0     0     0     0       177  1867.480226       1731.0
1     0     0     0     0     0       177  1867.480226       1731.0
2     0     0     0     0     0       177  1867.480226       1731.0
3     0     0     0     0     0       177  1867.480226       1731.0
4     0     0     0     0     0       283  1748.696113       1609.0

   word_spread  author_no
0  1214.909579          4
1  1214.909579          4
2  1214.909579          4
3  1214.909579          4
4  1190.545405          2

[5 rows x 5012 columns]
   year venue author  1  2  3  4  5  6  7  ...  4996  4997  4998  4999  5000  \
0    19   223  16336  0  0  0  0  0  1  1  ...     0     0     0     0     0
1    19   223   1762  0  0  0  0  0  1  1  ...     0     0     0     0     0
2    19   223   4357  0  0  0  0  0  1  1  ...     0     0     0     0     0
3    19   223  12564  0  0  0  0  0  1  1  ...     0     0     0     0     0
4    19   223  21189  0  0  0  0  0  1  1  ...     0     0     0     0     0

   word_len    word_mean  word_median  word_spread  author_no
0       177  1867.480226       1731.0  1214.909579          4
1       177  1867.480226       1731.0  1214.909579          4
2       177  1867.480226       1731.0  1214.909579          4
3       177  1867.480226       1731.0  1214.909579          4
4       283  1748.696113       1609.0  1190.545405          2

[5 rows x 5008 columns]

In [217]:
#
data_testing_target.dtypes

dtype('float64')

In [239]:
#ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

pred = logisticRegr.predict(data_testing)
#And then obtain the accuracy score:
#acc = accuracy_score(pred, data_testing_target)
#F1 = f1_score(pred, data_testing_target)

In [240]:
#data_testing.shape
#print(np.any(np.isnan(data_testing)))
#np.all(np.isfinite(data_testing))
match = 0
for i in range(len(pred)):
    if list(pred)[i] == list(data_testing_target)[i]:
        match += 1
#set(pred)
print(match/len(pred))
if match == 0:
    F1 = 0
elif match > 0:
    F1 = f1_score(pred, data_testing_target)

0.0

In [223]:
data_testing_target.shape

(2729,)

In [224]:
#data_testing.loc[:,'author']
data_testing.loc[:,'author_no']
#data_testing[:,'authorno']

0       4.0
1       4.0
2       4.0
3       4.0
4       2.0
       ...
2724    5.0
2725    5.0
2726    5.0
2727    5.0
2728    5.0
Name: author_no, Length: 2729, dtype: float64

In [192]:
read_tst_expand['coauthors'].str.len()

0       4
1       4
2       4
3       4
4       2
       ..
2724    5
2725    5
2726    5
2727    5
2728    5
Name: coauthors, Length: 2729, dtype: int64

In [202]:
#data_testing["author_no"] = read_tst_expand['coauthors'].str.len()
data_testing

,year,venue,author,1,2,3,4,5,6,7,...,4995,4996,4997,4998,4999,5000,word_len,word_mean,word_median,word_spread
0,19.0,223.0,16336.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,177.0,1867.480226,1731.0,1214.909579
1,19.0,223.0,1762.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,177.0,1867.480226,1731.0,1214.909579
2,19.0,223.0,4357.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,177.0,1867.480226,1731.0,1214.909579
3,19.0,223.0,12564.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,177.0,1867.480226,1731.0,1214.909579
4,19.0,223.0,21189.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,283.0,1748.696113,1609.0,1190.545405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2724,19.0,0.0,7095.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,230.0,1923.869565,1788.0,1226.173467
2725,19.0,0.0,13760.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,230.0,1923.869565,1788.0,1226.173467
2726,19.0,0.0,1667.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,230.0,1923.869565,1788.0,1226.173467
2727,19.0,0.0,6085.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,230.0,1923.869565,1788.0,1226.173467
2728,19.0,0.0,2891.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,230.0,1923.869565,1788.0,1226.173467

In [231]:
data_testing_target

0       16336.0
1        1762.0
2        4357.0
3       12564.0
4       21189.0
         ...
2724     7095.0
2725    13760.0
2726     1667.0
2727     6085.0
2728     2891.0
Name: author, Length: 2729, dtype: float64